.skills{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.skills h1{
    font-size: 4.5rem;
    color: rgb(35, 217, 151);
    font-family: Orbitron, sans-serif;
}
.skills__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
  
}
.skills__container h1{
    font-size: 4.5rem;
    color: rgb(35, 217, 151);
    font-family: Orbitron, sans-serif;
}


.skills__content{
   display: flex;
   gap: 1rem;
   padding:1rem
}
.image__skills{
   width:45px;
   height:45px;
   object-fit:contain;
   margin-top:0.4rem
}

@media screen and (max-width:1024px) {
    .skills__container{
        grid-template-columns: 1fr 1fr; 
    }
  
}
@media screen and (max-width:720px) {
    .skills__container{
        grid-template-columns: 1fr; 
    }
  
}