.mainpage__section{
    min-height: 90vh;
    width: 100vw;
    background-image: linear-gradient(to right bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.9)), url(./../../assests/laptop.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
    color: #fff;
     position: relative;
   
}
.nav__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
  
   
}
.logo{
    position: absolute;
    left: 2rem;
    top:1rem
}
.siderBar{
    position: absolute;
    right: 2rem;
    top:1rem;
    display: flex;
    text-align: right;
    background: transparent;
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
}
.manu__sidebar{
    gap:1rem;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.logo h2{
color: var(--primary-color);
font-weight: 500;
font-size: 1.5rem;
}
.ul__section{
       position: absolute;
         right: 6rem;
         top: 1rem;
        display: flex;
        gap: 2rem;
        list-style: none;
        margin: 0;
        padding: 0; 
        font-size: 1.7rem;
        font-weight: 500; 
}
.button__menu{
    
    border-bottom: 2px solid transparent;
}
.button__menu:hover{
    border-bottom: 4px solid var(--primary-color);
}
.body__home{
    top:14rem;
    left:10%;
    color:#fff;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    text-align: left;
    margin: 10% 10%;
}

.cv__section{
    margin-top: 8rem;
    gap:1rem;
    display: flex;
    flex-direction: column;
    
} 
.hi_samar{
    display: flex;
    gap: 0.5rem;
}

.personal_image{
    width: 40%;
    float: right;
    margin-left: 18rem;
}


.button__section{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.contact__me{
    background: var(--primary-color);
    border: 2px solid var(--secondery-color);
    text-decoration: none;
    padding: 1rem 2rem;    
    color: white;
}
.contact__me:hover{
    color: var(--primary-color);
    background-color: var(--secondery-color);
}
.download__cv a:hover{
    background-color: var(--primary-color);
    color: var(--secondery-color);
}
.download__cv a {
    background: transparent;
    border: 2px solid rgb(35, 217, 151);
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 0px 1rem;
    color: white;
}
.siderBar{
    display: none;
}

@media screen and (max-width: 1024px) {
    .mainpage__section{
      width: 100%;
    }
    .ul__section{
        display: none;
    }
    .contact__me{
        padding:0.5rem 1rem;     
    }
    .download__cv > a{
        padding: 0.5rem 1rem;     
    }
    .siderBar{
        display: block;
    }
    .a_element{
        padding: 1px;
        border-bottom: 1px solid var(--primary-color);
    }
    .body__home{
    
    }
  }
